.main-container {
  width: 100%;
  height: calc(100vh - 125px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.p-title {
  font-size: 2.5rem;
}

.pagination {
  font-size: 2 rem;
  color: var(--greentwo);
  padding-left: 1rem;
}

.full {
  width: 100%;
}

.no-margin {
  margin: none;
  padding: none;
  width: fit-content;
}

.main-container-wrapper {
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  background-color: var(--grey);
  border-radius: 2rem;
  box-shadow: -1rem 0 0.5rem rgba(0, 0, 0, 0.75),
    0.1rem 0 0.5rem rgba(0, 0, 0, 0.75), 1rem 0 0.5rem rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.main-container-header {
  padding: 1.5rem 2rem 1.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: var(--maingreen);
  border-bottom: 1px solid var(--greentwo);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-container-header .main-container-clock {
  font-size: 2.5rem;
  padding: 0 0.4rem;
  font-weight: bold;
}

.main-container-header p {
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 1.6;
}

.main-container-header-buttons {
  margin-left: 2rem;
  border-left: 1px dashed var(--grey);
  padding-left: 2rem;
}

.main-container-header-buttons button {
  padding: 1rem 5rem;
  background-color: var(--greentwo);
  border: 0.1rem solid rgb(99, 99, 99);
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--grey);
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.main-container-header-buttons button:hover {
  background-color: var(--white);
  color: var(--grey);
}

.main-container-header-hours {
  flex-grow: 1;
  text-align: right;
}

.main-container-content {
  width: 100%;
  margin-top: 1rem;
}

.main-container-content table {
  width: calc(100% - 30%);
  margin: 0 auto;
  border-collapse: separate;
  border: 0.2rem dashed var(--greentwo);
  border-radius: 1rem;
  background-color: var(--white);
}

.main-container-content table,
th,
td {
  text-align: left;
}

.main-container-content th {
  font-size: 1.7rem;
  border-bottom: 0.5rem solid black;
  padding: 1rem;
  background-color: var(--greentwo);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main-container-content td {
  padding: 1.5rem 0 1.5rem 1rem;
  border-radius: 0.3em;
  font-size: 1.6rem;
}

.main-container-content tr:nth-child(odd) {
  background-color: var(--maingreen);
}

/* start pagination css */

.pagination-container {
  width: calc(100% - 30%);
  margin: 1rem auto;
  background-color: var(--white);
  color: var(--grey);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  column-gap: 0.2rem;
  align-items: center;
}

.pagination-container a {
  padding: 0.5rem 1rem;
}

nav {
  display: flex;
  width: calc(100% - 30%);
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: block;
}

nav ul li {
  float: left;
}

.p-10 {
  padding: 0.5rem 1rem;
}
